<div class="card">
    <div class="card-block">
        <h4>
            <a href="/location/5f7064b6419ed2739cb738f0">Cafedeflore</a>
            <small>&nbsp;    
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </small>
                <span class="badge badge-pill badge-default float-right">505m</span>
        </h4>
        <p class="address">경기도 안성시 비룡5길 18</p>
        <div class="facilities">
            <span class="badge badge-warning">Hot drinks</span>
            <span class="badge badge-warning">Food</span>
            <span class="badge badge-warning">Premium wifi</span>
        </div>
    </div>
</div>